body {
    margin: 0;
    overflow: hidden;
    background: #000; /* Space theme */
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    background: url('space.gif') no-repeat center center;
    background-size: cover;
} 

#restartButton{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(15, 229, 229);
}
